<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <meta charset="utf-8" />
    <title>Rob Gesbocker</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../base/style.css" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/carousel/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png" />
    <link rel="manifest" href="../images/site.webmanifest" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav_left">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Rob Gesbocker</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse flex-d flex-row-reverse nav_right"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Hero"
                >Home</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#About">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Certifications">Certifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="Hero">
      <div class="block">
        <img
          class="rounded mx-auto d-block img"
          src="../images/my_photo.png"
          alt="photo"
        />
        <div class="ptext">
          <span>Rob Gesbocker<br /></span><br /><br />
          <span class="text-justify">Detection Engineer - Threat Hunter</span>
        </div>
      </div>
    </section>
    <section class="container" id="About">
      <h3>About Me</h3>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <p class="text-center">
            I am a results-driven cybersecurity professional with expertise in
            detection engineering and a proven track record of implementing
            robust security solutions. Skilled in leveraging advanced
            technologies like Elastic and Splunk, I enhance threat detection
            capabilities and protect organizations from cyber threats. I excel
            in conducting threat analysis, initiating incident response efforts,
            and collaborating with cross-functional teams. By staying informed
            about emerging threats, I aim to enhance protection measures and
            safeguard the interests of customers and businesses. With 5 years of
            cybersecurity experience, I bring a wealth of knowledge to develop
            tailored solutions for organizations. My goal is to make a
            meaningful impact and contribute to the safety and success of
            businesses through robust cybersecurity measures.
          </p>
        </div>
      </div>
    </section>

    <div class="divider-container">
      <div class="divider-line"></div>
      <div class="divider-icon">
        <i class="fas fa-code"></i>
      </div>
      <div class="divider-line"></div>
    </div>

    <section class="container" id="Projects">
      <h3 class="text-center">Projects</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top center"
              src="../images/snort.png"
              alt="Secure Home Network"
            />
            <div class="card-body">
              <h5 class="card-title">Secure Home Network</h5>
              <p class="card-text">
                <ul>
                  <li>
                    Custom built router and firewall with pfsense, integrated with snort
                  </li>
                  <li>
                    Recursive DNS server built with PiHole 
                  </li>
                  <li>
                    Multiple access points separated in different VLANs 
                  </li>
                  <li>
                    Security System with multiple cameras
                  </li>
                </ul>
              </p>
              <a href="comingsoon.html" class="btn btn-primary center">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top center"
              src="../images/cloudfront.png"
              alt="Personal Website"
            />
            <div class="card-body">
              <h5 class="card-title">Personal Website (This one!)</h5>
              <p class="card-text">
                <ul>
                  <li>
                    Hosted in AWS, utilizing multiple different resources:
                    <ul>
                    <li>
                      Private S3 Bucket
                    </li>
                    <li>
                      Cloudfront with UAC to S3
                    </li>
                    <li>
                      Route 53
                    </li>
                    <li>
                      AWS Certificate Manager
                    </li>
                    </ul>
                  </li>
                </ul>
              </p>
              <a href="comingsoon.html" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              class="card-img-top"
              src="../images/Shared_Responsibility_Model.jpg"
              alt="AWS Workshop"
            />
            <div class="card-body">
              <h5 class="card-title">AWS Security Baseline Workshop</h5>
              <p class="card-text">
                <ul>
                  <li>
                    Understanding the AWS Well-Architected Framework
                  </li>
                  <li>
                    Understanding the shared responsibility model
                  </li>
                  <li>
                    Hands-on experience with security controls and logging
                  </li>
                </ul>
              </p>
              <a href="comingsoon.html" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="divider-container">
      <div class="divider-line"></div>
      <div class="divider-icon">
        <i class="fas fa-shield-alt"></i>
      </div>
      <div class="divider-line"></div>
    </div>

    <section class="container" id="Experience">
      <h3>Experience</h3>
      <div class="row">
        <div class="col text-center">
          <h2 class="sf">State Farm Insurance</h2>
          <h4>Security Analytics Analyst<br />Detection Engineering</h4>
          <h4><br />June 2022 - Current Day</h4>
        </div>
        <div class="col">
          <ul>
            <li>
              Utilized Elastic to develop custom detection logic using Query
              DSL, EQL, and machine learning to effectively capture malicious
              activity both on-premises and in AWS.
            </li>
            <li>
              Addressed limitations in Elastic's security module by creating
              Python scripts in Splunk SOAR, enabling correlation of information
              across Elastic indexes and significantly enhancing attack
              coverage.
            </li>
            <li>
              Validated custom-built detections and MDE's proprietary detection
              logic through authorized penetration testing, ensuring their
              effectiveness in identifying and mitigating threats.
            </li>
          </ul>
        </div>
      </div>
      <hr class="hr hr-blurry" />
      <div class="row">
        <div class="col text-center">
          <h2 class="dis">Discover Financial Services</h2>
          <h4>Senior Cyber Threat Analyst<br />Cyber Threat Intelligence</h4>
          <h4><br />Jan 2020 - June 2022</h4>
        </div>
        <div class="col">
          <ul>
            <li>
              Leveraged open-source intelligence to proactively identify
              emerging threats in the industry and executed thorough threat
              hunting initiatives in Splunk to detect indicators of compromise.
            </li>
            <li>
              Evaluated threat actors' intent, opportunity, and capability to
              attack the company and provided detailed TTP information to the
              red team to conduct accurate adversary simulations.
            </li>
            <li>
              Identified and collaborated with security teams to address
              detection and control gaps within the network, ensuring
              comprehensive protections against evolving threats.
            </li>
          </ul>
        </div>
      </div>
      <hr class="hr hr-blurry" />
      <div class="row">
        <div class="col text-center">
          <h2 class="dis">Discover Financial Services</h2>
          <h4>Security Analyst<br />Vulnerability Management</h4>
          <h4><br />July 2018 - Jan 2020</h4>
        </div>
        <div class="col">
          <ul>
            <li>
              Conducted regular vulnerability assessments across the
              organization's systems, networks, and applications using
              specialized tools and techniques.
            </li>
            <li>
              Designed and implemented a prioritization system for
              vulnerabilities based on their potential impact, resulting in a
              substantial reduction in time to remediate critical
              vulnerabilities.
            </li>
            <li>
              Collaborated with development teams to establish effective
              mitigation strategies for vulnerabilities that could not be
              patched directly.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="divider-container">
      <div class="divider-line"></div>
      <div class="divider-icon">
        <i class="fas fa-graduation-cap"></i>
      </div>
      <div class="divider-line"></div>
    </div>

    <section class="container" id="Education">
      <h3 class="text-center">Education</h3>
      <div class="row">
        <div class="col-sm text-center">
          <h1>Illinois State University</h1>
          <p>Bloomington, Illinois</p>
          <p>Bachelor's of Science, Cybersecurity</p>
          <p>Fall 2014 - Spring 2018</p>
        </div>
        <div class="col-sm text-center">
          <img
            class="center"
            src="../images/isu.jpg"
            alt="Illinois State Redbirds"
            width="400"
            heigh="300"
          />
        </div>
      </div>
    </section>

    <div class="divider-container">
      <div class="divider-line"></div>
      <div class="divider-icon">
        <i class="fas fa-book"></i>
      </div>
      <div class="divider-line"></div>
    </div>

    <section class="container" id="Certifications">
      <h3 class="text-center">Certifications</h3>
      <div class="row">
        <div class="col-sm text-center">
          <img
            class="center"
            src="../images/giac.png"
            alt="GIAC"
            width="200"
            height="200"
          />
          <h2><br />GIAC</h2>
          <ul class="centered-list">
            <li>GIAC Security Essentials (GSEC)</li>
            <li>GIAC Enterprise Vulnerability Assessor (GEVA)</li>
            <li>GIAC Certified Enterprise Defender (GCED)</li>
            <li>GIAC Cyber Threat Intelligence (GCTI)</li>
            <li>GIAC Certified Incident Handler (GCIH)</li>
          </ul>
        </div>

        <div class="col-sm text-center">
          <img
            class="center"
            src="../images/aws.png"
            alt="AWS Cert"
            width="200"
            height="200"
          />
          <h2><br />AWS</h2>
          <ul class="centered-list">
            <li>AWS Certified Cloud Practitioner (CCP)</li>
            <li>AWS Certified Solutions Architect - Associate (SAA)</li>
          </ul>
        </div>
      </div>
    </section>

    <div class="divider-container">
      <div class="divider-line"></div>
      <div class="divider-icon">
        <i class="fas fa-terminal"></i>
      </div>
      <div class="divider-line"></div>
    </div>

    <section class="container" id="Skills">
      <h3 class="text-center">Skills</h3>
      <div class="row justify-content-center">
        <div class="col-sm text-center">
          <img
            class="center"
            src="../images/response.png"
            alt="log"
            width="200"
            height="200"
          />
          <h2>General</h2>
          <ul class="centered-list">
            <li>Network Security</li>
            <li>Intrusion Detection and Prevention</li>
            <li>Security Information and Event Management (SIEM)</li>
            <li>Security Incident Response</li>
            <li>Threat Hunting</li>
            <li>Log Analysis and Correlation</li>
            <li>Cyber Threat Intelligence</li>
            <li>Amazon Web Services (AWS)</li>
          </ul>
        </div>

        <div class="col-sm text-center">
          <img
            class="center"
            src="../images/python.png"
            alt="Python"
            width="200"
            height="200"
          />
          <h2>Languages</h2>
          <ul class="centered-list">
            <li>Python</li>
            <li>PowerShell</li>
            <li>Bash Scripting</li>
            <li>JQuery (JQ)</li>
            <li>Kusto Query Language (KQL)</li>
            <li>Search Processing Language (SPL)</li>
            <li>Query Domain-Specific Language (Query DSL)</li>
            <li>Event Query Language (EQL)</li>
          </ul>
        </div>

        <div class="col-sm text-center">
          <img
            class="center"
            src="../images/Elastic.png"
            alt="Elastic"
            width="200"
            height="200"
          />
          <h2>Tools</h2>
          <ul class="centered-list">
            <li>Splunk</li>
            <li>Splunk SOAR</li>
            <li>Elastic Stack</li>
            <li>Microsoft Defender for Endpoint</li>
            <li>JamfProtect</li>
            <li>GuardDuty</li>
            <li>Qualys</li>
          </ul>
        </div>
      </div>
    </section>

    <div class="divider-container">
      <div class="divider-line"></div>
      <div class="divider-icon">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="divider-line"></div>
    </div>

    <section id="contact">
      <div class="container">
        <h3>Contact Me</h3>
        <p>
          <a href="https://www.linkedin.com/in/robert-gesbocker/"
            >LinkedIn Profile</a
          >
          | <a href="https://github.com/rgesboc">Github</a>
        </p>
      </div>
    </section>
  </body>
  <footer class="footer">
    &copy; 2023 Rob Gesbocker. All rights reserved.
  </footer>
</html>
